POSTGRES_USER=postgres
POSTGRES_PASSWORD=unleash
POSTGRES_DB_NAME=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5234
LOG_LEVEL=debug
DATABASE_SSL=false
INIT_FRONTEND_API_TOKENS="default:development.unleash-insecure-frontend-api-token"
INIT_CLIENT_API_TOKENS="default:development.unleash-insecure-api-token"
UNLEASH_BASE_URI=""
AUTH_APP_ID=43geanp0dwznxw412mxme
AUTH_APP_SECRET=unleash_app_local_secret
AUTH_HOST=http://localhost:3301
NODE_ENV=production